* {
	padding: 0;
	margin: 0;
}
body {
	padding-top: 50px;
}
li {
	list-style: none;
}
.slide {
	height:680px;
	overflow: hidden;
}
.tembox {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}
.tembox li {
	float: left;
	margin: 20px 30px;
	border: 1px solid #000;
	border-radius: 5px;
}
.tembox li a {
	display: block;
	padding: 8px 16px;
	font-size: 18px;
}
.tembox li a:hover {
	text-decoration: none;
}